body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #00bcd4, #3f51b5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.login-box {
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 350px;
    text-align: center;
}

.login-box h1 {
    margin-bottom: 20px;
    color: #333;
    font-size: 20px;
    margin-bottom: 40px;
}

.textbox {
    position: relative;
    margin-bottom: 20px;
}

.textbox input {
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 30px;
    font-size: 16px;
    box-sizing: border-box;
}

.textbox .placeholder {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #aaa;
    pointer-events: none;
}

.textbox input:focus + .placeholder,
.textbox input:not(:placeholder-shown) + .placeholder {
    top: -10px;
    left: 5px;
    font-size: 12px;
    color: #00bcd4;
}

.show-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #aaa;
}

.show-password:hover {
    color: #333;
}

button {
    width: 40%;
    padding: 10px;
    border: none;
    border-radius: 30px;
    margin-bottom: 20px;
    background: #00bcd4;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #0097a7;
}

.error {
    color: red;
    margin: 10px 0;
}

/* Responsivité */
@media (max-width: 600px) {
    .login-box {
        padding: 15px;
    }
    .textbox input {
        font-size: 14px;
    }
    .textbox .placeholder {
        font-size: 14px;
    }
    .show-password {
        font-size: 16px;
    }
    button {
        font-size: 14px;
    }
}
